@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-[1624px];
  background: linear-gradient(
    216deg,
    rgba(239, 255, 55, 0.33) 1.45%,
    rgba(249, 169, 157, 0.56) 32.27%,
    rgba(255, 118, 217, 0.2) 48.86%,
    rgba(226, 184, 237, 0.44) 58.17%,
    rgba(200, 242, 255, 0.67) 80.36%
  );
}

/* 
div {
  border: 1px solid #000000;
} */

.bg-gradient-animation {
	background: linear-gradient(-216deg,
  rgba(239, 255, 55, 0.33) 1.45%,
  rgba(249, 169, 157, 0.56) 32.27%,
  rgba(255, 118, 217, 0.2) 48.86%,
  rgba(226, 184, 237, 0.44) 58.17%,
  rgba(200, 242, 255, 0.67) 80.36%
  );
	background-size: 400% 400%;
	animation: gradient 4s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
